h2 {
    color: azure;
}

#country-selector{
    background-color: #1F5373;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    color: azure;
}

.list-item-name{
    overflow-x: scroll;
}

@media only screen and (min-width: 768px){
    .list-item-name::-webkit-scrollbar {
        width: 0px;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
}